[submodule "microservices/comment-service"]
	path = microservices/comment-service
	url = https://github.com/antoniotnn/ems-algacomments-comment-service.git
[submodule "microservices/moderation-service"]
	path = microservices/moderation-service
	url = https://github.com/antoniotnn/ems-algacomments-moderation-service.git
